.hr {
  height: 1px;

  background-color: rgba($dark, 0.1);
  border: none;
}

@media (max-width: $max-mobl-width) {
  .hr {
    width: 320px;
  }
}

@media (min-width: $tablt-width) and (max-width: $max-tablt-width) {
  .hr {
    width: 275px;
  }
}

@media (min-width: $deskt-width) {
  .hr {
    width: 410px;
  }
}
