$brown: #6c6344;
$dark: #283645;
$dark2: rgb(23, 33, 45);
$dark3: #4b5963;
$pink: #d22856;
$black: #000000;
$white: #ffffff;
$gray: #f2f2f2;
$gray1: rgb(239, 239, 239);
$gray11: rgb(230, 230, 230);
$gray2: rgb(223, 223, 223);
$gray3: rgb(244, 241, 234);
$gray4: #e5e5e5;
$gray5: #61605a;
$gray6: #6b674d;
$lipstick: rgb(210, 40, 86);
$green: #3dc644;
$green1: #2aab6d;
$green2: #1c9b5e;
$green4: #727744;
$red: #f25b26;
$yellow: #f6c45e;
$max-mobl-width: 659px;
$tablt-width: 660px;
$scrl-tablt-width: 680px;
$max-tablt-width: 1199px;
$deskt-width: 1200px;
$scrl-deskt-width: 1220px;
$usual-dpi: 96dpi;
$usual-dppx: 1dppx;
$retn-dpi: 144dpi;
$retn-dppx: 1.5dppx;
